@model IEnumerable<TournamentSystem.Models.TeamTournament>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Confirmed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tournament)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Confirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team.TeamId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tournament.TournamentId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TeamTournamentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TeamTournamentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TeamTournamentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
